nav h1{
   margin-left: 550px;
  
}
nav{
    background: rgb(235, 21, 21);
    padding-bottom: 30px;
    padding-top: 15px;
}

.container{
    display: grid;
    place-items: center;
   margin-bottom: 30px;
    
}

.card {
    margin-top: 20px;
    margin-left: 5px;
    width: 250px;
}

.card-header h5 {
    text-align: center;
    color: rgb(235, 21, 21);
}

.card-body img {
    margin-right: 50px;
    margin-left: 60px;
}

.btn {
    margin-top: 15px;
    margin-left: 610px;
}